* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;
}

.heding1 {
  color: red;
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: 900;
}

h4 {
  font-size: 60px;
  font-weight: 900;
}
textarea {
  display: block;
}

#heding2 {
  color: aqua;
  /* Sử dụng tên trong của màu sắc */

  color: #00ffff;
  /* Sử dụng mã màu hexan  */

  color: rgb(0, 255, 255);
  /* Sử dụng phối màu rgb() red green blue */

  color: rgba(0, 255, 255, 1);
  /* Tương tự rgb() và thêm 1 thông số là độ mờ trong đó độ mờ nhỏ hơn 1 thì nó mờ, còn 1 là nó bình thường */
}
h4 {
  /* margin: 10px 20px 10px 20px; trên - phải - dưới - trái */

  margin: 20px;

  border: 4px solid red;

  /* padding: 10px 20px 10px 20px; */

  padding: 10px 20px;

  background-color: aqua;

  text-align: center;
}

.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}
.content {
  background-color: palegoldenrod;
  width: 75%;
  float: left;
}

.avatar {
  width: 25%;
  background-color: greenyellow;
  float: left;
}

.info {
  background-color: aquamarine;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.date1 {
  /* vị trí: tĩnh; */
  color: brown;
  position: static;
}
.date2 {
  color: blue;
  /* vị trí: tương đối; */
  /* di chuyển vị trí của nó xung quanh vị trí ban đầu, lấy vị trí ban đầu làm mốc */
  position: relative;
  left: 500px;
}
.date3 {
  color: red;
  /* vị trí: cố định; */
  /* nó sẽ cố định nằm trên vị trí vào kéo trang nó vẫn ở đó*/
  position: fixed;
  top: 100px;
  left: 80px;
}
.date4 {
  color: green;
  /* vị trí: tuyệt đối; */
  /* lấy góc của phần tử cha có chứa thuộc tính position gần nhất là mốc. */
  position: absolute;
  top: 100px;
  left: 100px;
}
