* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;
}

h2 {
  color: red;
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-weight: 900;
}

h4 {
  font-size: 60px;
  font-weight: 900;
}
textarea {
  display: block;
}
h3 {
  color: aqua;
  /* Sử dụng tên trong của màu sắc */

  color: #00ffff;
  /* Sử dụng mã màu hexan  */

  color: rgb(0, 255, 255);
  /* Sử dụng phối màu rgb() red green blue */

  color: rgba(0, 255, 255, 1);
  /* Tương tự rgb() và thêm 1 thông số là độ mờ trong đó độ mờ nhỏ hơn 1 thì nó mờ, còn 1 là nó bình thường */
}
h4 {
  /* margin: 10px 20px 10px 20px; trên - phải - dưới - trái */

  margin: 20px;

  border: 4px solid red;

  /* padding: 10px 20px 10px 20px; */

  padding: 10px 20px;

  background-color: aqua;

  text-align: center;

  width: 300px;
  height: 160px;
}
