* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  color: purple;
}

h1 {
  font-size: 80px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  background-color: lavender;
  padding: 0 30px;
}
.content {
  width: 75%;
  float: left;
}

form {
  width: 25%;
  float: left;
}

.input1,
.input2,
textarea {
  display: block;
}

.input1 {
  margin-top: 41px;
  width: 200px;
  padding: 10px;
  margin-left: 35px;
  margin-bottom: 20px;
}
.input2 {
  margin-left: 35px;
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

textarea {
  width: 200px;
  margin-left: 35px;
  padding: 20px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.avatar_image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 55px;
}

h4 {
  float: left;
  margin-top: 40px;
  margin-left: 20px;
}

.info {
  margin-top: 20px;
  padding-bottom: 40px;
  margin-left: 55px;
}

.date {
  position: relative;
  left: 400px;
  font-size: 25px;
  color: blueviolet;
}

.link {
  color: red;
  font-size: 20px;
  position: absolute;
  padding-top: 300px;
}

.img_link {
  margin-left: 200px;
}
